.question {
  .text {
    font-size: 28px;
    font-weight: 1200px;
    line-height: 40px;
    text-space: 5px;
  }

  .que-title {
    display: block;
    padding: 40px 20px 30px;
    font-size: 38px;
  }
}
