.answerer-wrp {
  position: relative;
  width: 750px;
  height: 150px;
  background: #fff;

  .bg-half {
    position: absolute;
    top: 0;
    width: 750px;
    height: 75px;
    background: #298DE5;
  }
}


.answerer {
  position: relative;
  margin: 0 auto;
  width: 630px;
  height: 90px;
  padding: 30px;
  background: #fff;
  border: solid 2px #ebebeb;
  border-radius: 6px;
  box-shadow: 0 2px 4px #bebebe;
  display: flex;
  .avatar {
    flex: 1;
    width: 90px;
    height: 90px;

    image {
      display: inline-block;
      width: 90px;
      height: 90px;
      border-radius: 90px;
    }
  }

  .answerer-info {
    flex: 5;
    text-align: left;
    padding: 10px 20px;
    line-height: 38px;

    text {
      display: block;
    }

    .answerer-name {
      font-size: 32px;
    }

    .answerer-des {
      font-size: 22px;
      color: #808080;
      line-height: 28px;
    }
  }

  .follow {
    flex: 2;
    padding: 15px 0;
    font-size: 22px;

    text {
      display: inline-block;
      padding: 15px 20px;
      color: #40bcd0;
      border: solid 4px #40bcd0;
      border-radius: 6px;
    }
  }
}
