.flex-wrp {
  display: flex;
}

.flex-tab {
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.flex-item {
  flex-grow: 1;
  text-align: center;
}

.answer-footer {
  position: fixed;
  bottom: 0;
  height: 70px;
  border-top: solid 2px #ebebeb;
  background: #ffffff;
  width: 670px;
  padding: 20px 40px;
}

.answer-footer .good {
  flex: 1;
  /*display: inline-block;*/
  height: 40px;
  border: solid 2px #d1d1d1;
  border-radius: 6px;
  padding: 10px 8px;
  margin: 10px 0;
}

.answer-footer .good .good-bad {
  display: inline-block;
}

.answer-footer .good image {
  display: inline-block;
  width: 38px;
  height: 38px;
  vertical-align: middle;
}

.answer-footer .good .good-num {
  display: inline-block;
  padding: 10px 4px;
  /*font-size: 24rpx;*/
}

.answer-footer .operation-wrp {
  flex: 5;
}

.answer-footer .operation {
  justify-content: space-between;
  padding: 0 0 0 60px;
}

.answer-footer .operation-btn {
  flex: 1;
  text-align: center;
}

.answer-footer .operation image {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.answer-footer .operation-btn text {
  display: block;
  font-size: 14px;
  color: #bebebe;
}
