.layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: rgba(0, 0, 0, 1);
  .close_text {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 20px;
    top: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 30px;
  }
  .image {
    
    height: 100%;
    width: 100%;
  }
  &.close {
    display: none;
  }
}
