.invite{
    border-right: solid 4px #ebebeb;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    flex-grow: 1;
    width:  31vh;
}
.flex-item{
    flex-grow: 1;
    text-align: center;
}

.que-operate{
    width: 750px;
    display: flex;
    border-top: solid 2px #ebebeb;
    border-bottom: solid 2px #ebebeb;
    color: #889091;
    vertical-align: middle;
    background: #ffffff;
    flex-flow: row nowrap;
    image{
        width: 50px;
        height: 50px;
        vertical-align: middle;
        margin: 0 20px 0 0;
    }
}
