/**index.wxss**/
.wrap{
  padding-top: 300px;
  position: relative;
  width: 100%;
  .swiper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.container{
  height: 1500px;
}
.container .search{
  width: 735px;
  height: 65px;
  padding: 12.5px 0 12.5px 15px;
  background: #2A8CE5;
}
.container .search-left{
  flex: 8;
  background: #4EA3E7;
  text-align: left;
}
.container .search-left input{
  display: inline-block;
  height: 65px;
  font-size: 26px;
}
.search-placeholder{
  color: #8CCEFD;
  line-height: 20px;
}
.container .search .search-left image{
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 15px 15px 15px 20px;
}
.container .search .search-right{
  flex: 1;
}
.container .search .search-right image{
  width: 45px;
  height: 45px;
  padding: 10px;
}

.container{
  padding: 0;
  font-size: 14px;
  background: #F0F4F3;
  color: #000;
}
/*feed-item part is in app.wxss for multiplexing*/